#body-section{
    background:url(/bronze\ medal\ on\ the\ white\ background.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: #906C51;
    
}
#navbar {
    display: inline-block;
    width: 100%;
    background: grey;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
#text-section {
   font-family: "Lucida Console", "Courier New", monospace;
}